* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(../images/canik\ bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  margin-top: 10px;
  color: white;
  font-size: 23px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s color;
}
.navbar a:hover {
  color: #ec1f27;
  transition: 0.5s color;
}
.navbar a img {
  width: 150px;
  margin-top: -6px;
}
.container {
  text-align: center;
  margin-left: 70px;
  margin-top: 200px;
}
.container h1 {
  color: white;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 0px;
  text-shadow: 1px 1px 10px black;
}
.container p {
  color: white;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.container p::before {
  content: "";
  background-color: #ec1f27;
  width: 60px;
  height: 4px;
  display: inline-block;
  vertical-align: 22%;
  margin-right: 5px;
}
.container p::after {
  content: "";
  background-color: #ec1f27;
  display: inline-block;
  width: 60px;
  height: 4px;
  vertical-align: 22%;
  margin-left: 5px;
}
.container div {
  margin-top: 80px;
}
.container div a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding: 14px 34px;
  background-color: #ec1f27;
  border-radius: 6px;
  transition: 1s color;
}
.container div a:hover {
  transition: 1s color;
  color: #ec1f27;
  background-color: white;
}

.rreth {
  background-color: #ececec;
  display: flex;
  padding-left: 75px;
  padding-top: 130px;
  padding-bottom: 120px;
}
.leftpart {
  width: 570px;
  height: 369px;
  box-shadow: 0px 7px 20px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 7px 20px 9px rgba(0, 0, 0, 0.5);
}
.rightpart {
  padding-left: 50px;
  padding-right: 40px;
}
.rightpart img {
  width: 30px;
  padding-top: 30px;
}
.rightpart h1 {
  font-weight: bolder;
  letter-spacing: 1px;
  padding-top: 10px;
  font-size: 35px;
}
.rightpart p {
  padding-top: 50px;
  font-size: 18px;
  letter-spacing: 0.6px;
  color: #595959;
  width: 95%;
}
.rightpart div {
  margin-left: 430px;
  margin-top: 10px;
}
.rightpart div a img {
  width: 55px;
  padding-left: 8px;
}

.produktet {
  background-color: #ec1f27;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 120px;
  padding-bottom: 100px;
}
.header h1 {
  color: white;
  letter-spacing: 1px;
  font-size:35px;
}
.header div {
  width: 190px;
  height: 3px;
  background-color: white;
  margin-top: 30px;
}
.footer {
  margin-top: 25px;
}
#one {
  transition: transform 0.2s;
  width: 300px;
}
#one:hover {
  transform: scale(1.2);
}
#two {
  transition: transform 0.2s;
  width: 300px;
}
#two:hover {
  transform: scale(1.2);
}
#three {
  transition: transform 0.2s;
  width: 300px;
}
#three:hover {
  transform: scale(1.2);
}
#four {
  transition: transform 0.2s;
  width: 250px;
  padding-left: 22px;
}
#four:hover {
  transform: scale(1.2);
}
#five {
  transition: transform 0.2s;
  width: 200px;
  padding-top: 25px;
  padding-left: 50px;
}
#five:hover {
  transform: scale(1.2);
}
#six {
  transition: transform 0.2s;
  width: 200px;
  padding-top: 20px;
  padding-left: 50px;
}
#six:hover {
  transform: scale(1.2);
}
#seven {
  transition: transform 0.2s;
  width: 250px;
  padding-top: 20px;
  padding-left: 50px;
}
#seven:hover {
  transform: scale(1.2);
}
#eight {
  transition: transform 0.2s;
  width: 270px;
  padding-left: 50px;
}
#eight:hover {
  transform: scale(1.2);
}
#nine {
  transition: transform 0.2s;
  width: 270px;
}
#nine:hover {
  transform: scale(1.2);
}
#ten {
  transition: transform 0.2s;
  width: 270px;
  padding-top: 40px;
  padding-left: 40px;
  height: 220px;
}
#ten:hover {
  transform: scale(1.2);
}
#eleven {
  transition: transform 0.2s;
  width: 270px;
  padding-top: 40px;
  padding-left: 40px;
}
#eleven:hover {
  transform: scale(1.2);
}
#twelve {
  transition: transform 0.2s;
  padding-top: 40px;
  padding-left: 40px;
}
#twelve:hover {
  transform: scale(1.2);
}

.galeria{
   background-color: white;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 120px;
  padding-bottom: 100px;
}
.titulli h1{
  letter-spacing: 1px;
  font-size: 35px;
}
.titulli div{
  width: 190px;
  height: 4px;
  background-color:#ec1f27 ;
  margin-top: 30px;
}
.nentitulli{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.nentitulli h2{
  background-color: #ec1f27;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 0 auto;
}
.foto1{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.foto1 img{
  width: 575px;
  border: 3px solid black;
  transition: transform 0.2s;
}
.foto1 img:hover{
   transform: scale(1.2);
}

.foto2{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.foto2 img{
  width: 575px;
  height: 400px;
  border: 3px solid black;
  transition: transform 0.2s;
}
.foto2 img:hover{
   transform: scale(1.2);
}

.kontakt{
  background-color: #1A1A1A;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 120px;
  padding-bottom: 10px;
}
.koka h1{
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
}
.koka div{
  width: 190px;
  height: 4px;
  background-color:white ;
  margin-top: 30px;
}
form{
  margin-top: 80px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 50PX;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 50PX;
}
#sms{
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=submit] {
  width: 15%;
  height: 60px;
  background-color:  #ec1f27;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
label{
  color: white;
}

.fundi{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.fundi h1{
  color: white;
}

.krejt{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.njo{
  border: 3px solid white;
  padding: 20px 100px;
  border-radius: 8px;
}
.njo img{
  width: 50px;
  text-align: center;
  margin-left: 30px;
}
.njo h3{
  color: white;
}

.dy{
  border: 3px solid white;
  padding: 20px 80px;
  border-radius: 8px;
}
.dy img{
  width: 50px;
  text-align: center;
  margin-left: 120px;
}
.dy h3{
  color: white;
}

.tre{
  border: 3px solid white;
  padding: 20px 100px;
  border-radius: 8px;
}
.tre img{
  width: 50px;
  text-align: center;
  margin-left: 50px;
}
.tre h3{
  color: white;
}

.end{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.end h3{
  color: white;
}

 @media only screen and (max-width:600px) {
    
 }